.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Karla, sans-serif;
}
button:hover {
  background-color: lightyellow;
}
/* hover effect in food-card-image */
        .food-card-image{
            height: auto;
            width: 400px;
            margin: auto;
        }
        .food-card-image img{
            width: 400px;
            height: auto;
            margin: auto;
            opacity: 50%;
        }
        .food-card-image:hover img{
            opacity: 100%;
            transition: all 1s;
        }
  /* hover effect in testimonial-card-container */
  .testimonial-card-container{
    height: auto;
    width: 400px;
    margin: auto;
}
.testimonial-card-container img{
    width: 400px;
    height: auto;
    margin: auto;
    opacity: 70%;
}
.testimonial-card-container:hover img {
    opacity: 700%;
    transition: all 1s;
}